In [233]:
#hello welcome to data types

# LIST

In [234]:
sample_list=[12,43,56,"hi",1+2j,4.5,True]

In [235]:
type(sample_list)
##type function

list

In [236]:
sample_list.reverse()

In [237]:
sample_list

[True, 4.5, (1+2j), 'hi', 56, 43, 12]

In [238]:
### create a list of natural numbers from 1 to 10
Natural_numbers=[1,2,3,4,5,6,7,8,9,10]

In [239]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [240]:
Natural_numbers.reverse()
## using the reverse function

In [241]:
Natural_numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [242]:
Natural_numbers.reverse()
# reversing the reversed list

In [243]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [244]:
Natural_numbers[7]
### retrieving element on index no 7

8

In [245]:
Natural_numbers[9]=8

In [246]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8]

In [247]:
Natural_numbers.reverse()

In [248]:
Natural_numbers

[8, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [249]:
### Adding 11 value to the list
Natural_numbers.append(11)

In [250]:
Natural_numbers

[8, 9, 8, 7, 6, 5, 4, 3, 2, 1, 11]

In [251]:
### sorting all the elements in the list
Natural_numbers.sort()

In [252]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 11]

In [253]:
Natural_numbers.append(10)

In [254]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 11, 10]

In [255]:
Natural_numbers.sort()

In [256]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 11]

In [257]:
alldatalist=[1,2.2,3+4j,"five"]

In [258]:
alldatalist

[1, 2.2, (3+4j), 'five']

In [259]:
alldatalist.reverse()

In [260]:
alldatalist

['five', (3+4j), 2.2, 1]

In [261]:
alldatalist.sort()

### string and complex cannot be sorted

TypeError: '<' not supported between instances of 'complex' and 'str'

In [ ]:
##list of float and integers only
newlist=[1,2,5,3,6.6,8.9,1.2,3.3]

In [ ]:
newlist

In [ ]:
newlist.reverse()

In [ ]:
newlist

In [ ]:
newlist.sort()

In [ ]:
newlist

In [ ]:
### therefore onnly integers and float can be sorted
### complex and strings cannot be sorted if the list is hetrogenous

In [ ]:
strlist=["apple", "cherry", "banana", "kiwi", "guava", "pineapple"]

In [ ]:
strlist

In [ ]:
strlist.reverse()

In [ ]:
strlist

In [ ]:
### searching for the element in the list
print("banana" in strlist)

In [ ]:
print("Mango" in strlist)
### could not find the fruit in the list

In [ ]:
strlist.sort()
### list is sorted alphabetically using sort() function

In [ ]:
strlist

In [ ]:
for fruits in strlist:
    print(fruits)

In [ ]:
## length of the list
len(strlist)

In [ ]:
Numbers=[1,2,2.2,2.34,5,6,3.2,4.5,8,9]

In [ ]:
Numbers

In [ ]:
## length of the list
len(Numbers)

In [ ]:
### maximum of the list
max(Numbers)

In [ ]:
### minimum of the list
min(Numbers)

In [ ]:
### clearing the entire list
Numbers.clear()

In [ ]:
Numbers

In [ ]:
abc=[1,2,3,4,5]
xyz=[True,1,2,5,7.6]

In [ ]:
abc

In [ ]:
xyz

In [ ]:
### adding two lists
mno=abc+xyz

In [ ]:
mno

In [262]:
### create a list of int and float data type
### find the number of elements in the list
### find the maximum value in the list
### add an element to the list
### create a copy of the list
### return index position of an object
### insert a new element at the specific index number
### Delete an element from the list
### reverse a list
### sort the list
### remove all the elements from the list

In [263]:
### create a list of int and float data type
prime=[3,5,7,11,13,17,19,23,29]

In [264]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29]

In [265]:
### find the number of elements in the list
len(prime)

9

In [266]:
### find the maximum value in the list
max(prime)

29

In [267]:
##  find the minimum value in the list
min(prime)

3

In [268]:
### add an element to the list
prime.append(31)

In [269]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [270]:
### create a copy of the list

prime.copy()

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [271]:
not_com=prime

In [272]:
not_com

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [273]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [274]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [275]:
### return index position of an object

prime.index(13)

4

In [276]:
### insert a new element at the specific index number

prime.insert(11,37)

In [277]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [278]:
### Delete an element from the list

prime.remove(13)

In [279]:
prime

[3, 5, 7, 11, 17, 19, 23, 29, 31, 37]

In [280]:
prime.insert(4,13)

In [281]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [282]:
prime.remove(37)

In [283]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [284]:
### reverse a list

prime.reverse()

In [285]:
prime

[31, 29, 23, 19, 17, 13, 11, 7, 5, 3]

In [286]:
### sort the list

prime.sort()

In [287]:
prime

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [288]:
### remove all the elements from the list
prime.clear()

In [289]:
prime

[]

# Tuple

In [290]:
### instead of square brackets , round brackets are used in Tuple
### round brackets are not compulsory, without brackets also we can create tuple
### allows heterogenous
### retrieve using index
### cannot change the elements once declared - immutable

In [291]:
### creating a tuple using round brackets
tup=(1,2,3,4,5.5,6+4j,"hello")

In [292]:
tup

(1, 2, 3, 4, 5.5, (6+4j), 'hello')

In [293]:
type(tup)

tuple

In [294]:
### checking if paranthesis is required for tuple
tup=1,2,3,4,5

In [295]:
type(tup)

tuple

In [ ]:
### therefore paranthesis are not required for tuple

In [296]:
tup=(1,2,3,4,5.5,6+4j,"hello")

In [297]:
tup

(1, 2, 3, 4, 5.5, (6+4j), 'hello')

In [298]:
tup[5]

(6+4j)

In [299]:
tup.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [300]:
tup[2]=9

TypeError: 'tuple' object does not support item assignment

In [ ]:
### therefore once the tuple is created it cannot be changed
### it cannot be reversed
### existing elements cannot be changed

In [301]:
tupp=1,2,3.3,4.5,6.7,3,5,8

In [302]:
tupp

(1, 2, 3.3, 4.5, 6.7, 3, 5, 8)

In [304]:
type(tupp)

tuple

In [303]:
tupp.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [305]:
### there is another way to sort the tuple
sorted(tupp)

[1, 2, 3, 3.3, 4.5, 5, 6.7, 8]

In [306]:
tupp

(1, 2, 3.3, 4.5, 6.7, 3, 5, 8)

In [308]:
### this is reversing the sorted tuple, not the original tuple
sorted(tupp,reverse=True)

[8, 6.7, 5, 4.5, 3.3, 3, 2, 1]

In [309]:
### creating n variable
n=4

In [310]:
### creating a new tuple
rep_tuple=tupp*n

In [311]:
### all the elements get repeated n number of times 
rep_tuple

(1,
 2,
 3.3,
 4.5,
 6.7,
 3,
 5,
 8,
 1,
 2,
 3.3,
 4.5,
 6.7,
 3,
 5,
 8,
 1,
 2,
 3.3,
 4.5,
 6.7,
 3,
 5,
 8,
 1,
 2,
 3.3,
 4.5,
 6.7,
 3,
 5,
 8)

In [312]:
type(rep_tuple)

tuple

In [313]:
tupp

(1, 2, 3.3, 4.5, 6.7, 3, 5, 8)

In [314]:
tuppp=10,11,12

In [315]:
tuppp

(10, 11, 12)

In [316]:
### concatenation of 2 tuple
tupppp=tupp+tuppp

In [317]:
tupppp

(1, 2, 3.3, 4.5, 6.7, 3, 5, 8, 10, 11, 12)

In [318]:
type(tupppp)

tuple

In [319]:
### check for a particular element
### using 'in' operator
print(12 in tupppp)

True

In [320]:
tupp

(1, 2, 3.3, 4.5, 6.7, 3, 5, 8)

In [321]:
print (4.5 in tupp)

True

In [323]:
print(6 not in tupp)

True

In [324]:
fruit="apple","banana","guava","pineapple"

In [325]:
fruit

('apple', 'banana', 'guava', 'pineapple')

In [326]:
type(fruit)

tuple

In [327]:
### printing all the fruit names in tuple
for fruits in fruit:
    print(fruits)

apple
banana
guava
pineapple

In [ ]:
### create a tuple of int and float data type
### find the number of elements in the tuple
### find the maximum value in the tuple
### add an element to the tuple
### create a copy of the tuple
### return index position of an object
### insert a new element at the specific index number
### Delete an element from the tuple
### reverse a tuple
### sort the tuple
### remove all the elements from the tuple

In [328]:
### create a tuple of int and float data type

t=1,5,3.3,3,4.1,4,5,6,0,7.5,1.2

In [329]:
type(t)

tuple

In [330]:
### find the number of elements in the tuple

len(t)

11

In [332]:
### find the maximum value in the tuple

max(t)

7.5

In [333]:
### find the minimum value in the tuple

min(t)

0

In [334]:
### add an element to the tuple
### it is immutable
### append will not work 

t.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [335]:
### create a copy of the tuple

t.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [336]:
### return index position of an object

t.index(7.5)

9

In [337]:
### insert a new element at the specific index number
## immutable
## will not work


t.insert(3,15)

AttributeError: 'tuple' object has no attribute 'insert'

In [338]:
### Delete an element from the tuple
### immutable
### will not work


t.remove(7.5)

AttributeError: 'tuple' object has no attribute 'remove'

In [339]:
### reverse a tuple

sorted(t,reverse=True)

[7.5, 6, 5, 5, 4.1, 4, 3.3, 3, 1.2, 1, 0]

In [340]:
### sort the tuple

sorted(t)

[0, 1, 1.2, 3, 3.3, 4, 4.1, 5, 5, 6, 7.5]

In [341]:
### remove all the elements from the tuple
### immutable
### will not work
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [342]:
### Concatenation of tuples

t1=1,2,3
t2=4,5,6

In [343]:
t1

(1, 2, 3)

In [344]:
t2

(4, 5, 6)

In [345]:
t3=t1+t2

In [346]:
t3

(1, 2, 3, 4, 5, 6)

In [347]:
type(t3)

tuple

In [348]:
t3

(1, 2, 3, 4, 5, 6)

In [349]:
##converting a tuple into the list to append it i.e to add an element
x=list(t3)

In [350]:
x.append(7)

In [351]:
x

[1, 2, 3, 4, 5, 6, 7]

In [352]:
print(x)

[1, 2, 3, 4, 5, 6, 7]

# SET

In [356]:
set={1,2,3,4,17,17,16,16,16,16,16,11,1.4,1.2,7.9,"hi"}

In [357]:
set
### set will be sorted according to ascii value
### Duplicates are not repeated

{1, 1.2, 1.4, 11, 16, 17, 2, 3, 4, 7.9, 'hi'}

In [355]:
type(set)

set

In [358]:
set.append(12)

AttributeError: 'set' object has no attribute 'append'

In [359]:
set.add(91)

In [360]:
set

{1, 1.2, 1.4, 11, 16, 17, 2, 3, 4, 7.9, 91, 'hi'}

In [409]:
set.add("hey")

In [410]:
set

{1, 1.2, 1.4, 11, 16, 17, 2, 3, 4, 7.9, 'hey', 'hi'}

In [361]:
set.remove(91)

In [ ]:
### we can add and remove elements from the set
### it is mutable

In [362]:
set.insert(0,0.5)

AttributeError: 'set' object has no attribute 'insert'

In [363]:
set.insert(0.5)

AttributeError: 'set' object has no attribute 'insert'

In [364]:
set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
### using index add or retrieve the data

In [373]:
Days={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}

In [374]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [375]:
print(Days)

{'Sun', 'Thu', 'Sat', 'Mon', 'Tue', 'Fri', 'Wed'}

In [376]:
print(Days)

{'Sun', 'Thu', 'Sat', 'Mon', 'Tue', 'Fri', 'Wed'}

In [377]:

type(Days)

set

In [378]:
print(type(Days))

<class 'set'>

In [379]:
print("looping through the set elements..")
for i in Days:
    print(i)

looping through the set elements..
Sun
Thu
Sat
Mon
Tue
Fri
Wed

In [ ]:
### create a Set of int and float data type
### find the number of elements in the Set
### find the maximum value in the Set
### add an element to the Set
### create a copy of the Set
### return index position of an object
### insert a new element at the specific index number
### Delete an element from the Set
### reverse a Set
### sort the Set
### remove all the elements from the Set

In [380]:
set1={5,2,6.6,2.3,7.1,8,9,0,11.1}

In [381]:
set1

{0, 2, 2.3, 5, 6.6, 7.1, 8, 9, 11.1}

In [382]:
print(set1)

{0, 2, 2.3, 5, 6.6, 7.1, 8, 9, 11.1}

In [383]:
len(set1)

9

In [385]:
max(set1)

11.1

In [386]:
min(set1)

0

In [387]:
set1.add(55)

In [388]:
set1

{0, 2, 2.3, 5, 6.6, 7.1, 8, 9, 11.1, 55}

In [389]:
set1.copy()

{0, 2, 2.3, 5, 6.6, 7.1, 8, 9, 11.1, 55}

In [391]:
### index numbers cannot be used
### sets cannot identify index numbers
set1.insert(1,1.1)

AttributeError: 'set' object has no attribute 'insert'

In [392]:
### Mutable
set1.remove(0)

In [393]:
set1

{2, 2.3, 5, 6.6, 7.1, 8, 9, 11.1, 55}

In [394]:
### cannot be reversed
set1.reverse()

AttributeError: 'set' object has no attribute 'reverse'

In [395]:
### sets are already sorted
set1.sort()

AttributeError: 'set' object has no attribute 'sort'

In [396]:
set1.clear()
### its an empty set

In [397]:
set1

set()

In [398]:
print(set1)

set()

In [399]:
set1

set()

In [400]:
set1={1,2,3}

In [401]:
set1

{1, 2, 3}

In [402]:
set2={4,5,6}

In [403]:
set2

{4, 5, 6}

In [404]:
### sets do not concatenate
set3=set1+set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# Dictionary

In [411]:
sample_dict={"a": "Alpha", 1: "first", 2:"second", 3:"third", 1:"fourth", 5:"fourth", 6:"sixth"}

In [412]:
sample_dict

{'a': 'Alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [414]:
sample_dict["a"]

'Alpha'

In [416]:
sample_dict[5]

'fourth'

In [417]:
sample_dict[5] = "fifth"

In [418]:
sample_dict

{'a': 'Alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [419]:
sample_dict[4] = "fourth"

In [420]:
sample_dict

{'a': 'Alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fifth',
 6: 'sixth',
 4: 'fourth'}

In [421]:
sample_dict[1] = "first"

In [422]:
sample_dict

{'a': 'Alpha',
 1: 'first',
 2: 'second',
 3: 'third',
 5: 'fifth',
 6: 'sixth',
 4: 'fourth'}

In [423]:
sample_dict["Alpha"]

KeyError: 'Alpha'

In [ ]:
### a key cannot be retrived from a value

In [425]:
### pop function
### specifiying the key of the element to be removed
sample_dict.pop(6)

'sixth'

In [426]:
sample_dict

{'a': 'Alpha', 1: 'first', 2: 'second', 3: 'third', 5: 'fifth', 4: 'fourth'}

In [427]:
sample_dict.reverse()

### a dictionary cannot be reversed

AttributeError: 'dict' object has no attribute 'reverse'

In [429]:
### removing the last item in the dictonary
sample_dict.popitem()

(4, 'fourth')

In [430]:
sample_dict

{'a': 'Alpha', 1: 'first', 2: 'second', 3: 'third', 5: 'fifth'}