In [83]:
### addition
x=20
y=30
sum= x+y
sum

50

In [84]:
### subtraction
x=30
y=20
dif=x-y
dif

10

In [85]:
###multiplication
x=2
y=7
product = x*y
product

14

In [86]:
### divison
x=10
y=3
div=x/y
div

3.3333333333333335

In [87]:
### divison
x=10
y=2
div=x/y
div

###divison always returns float

5.0

In [88]:
type(div)

float

In [89]:
### Modulus

In [90]:
###Exponentiation

In [91]:

#FloorDivison
x=
y=

SyntaxError: invalid syntax (<ipython-input-91-6861dd98e295>, line 2)

# Logical Operators

In [ ]:
# AND

In [ ]:
# OR

In [ ]:
#NOT

# Assignment Operator

In [ ]:
x=5
x

In [ ]:
x=5
x+=3 # this means x=x+3
x

In [ ]:
x=5
x-=3 # this means x=x-3
x

In [ ]:
x=5
x*=5 #this means x=x*5
x

In [ ]:
x=5
x/=3  #this means x=x/3
x

In [ ]:
x=6
x/=3
x

##this always returns value in float

In [ ]:
x=5
x//=3  #this means x=x//3
x

In [ ]:
x=5
x//=5
x

In [ ]:
## power assignment 
x=5
x**=3
x

In [ ]:
x=10
x&=3
x

In [ ]:
x=5
x|=3
x

In [ ]:
a=True 
b= 0.00001
print(a==b)

In [ ]:
a= 1
b= 1.000000001
print(a==b)

# Bitwise Operator

In [ ]:
x=15
x&=4
x

In [ ]:
x=15
x|=4
x

In [ ]:
x=15
x^=4
x

In [ ]:
x=7
x&=2
x

In [ ]:
x=7
x|=2
x

In [ ]:
x=7
x^=2
x

In [ ]:
x=9
x&=11
x

In [ ]:
x=9
x|=11
x

In [ ]:
x=9
x^=11
x

In [ ]:
x=5
x>>=2
x
###this is right shift operator
###this oprator is used to perform bitwise right shift on the operands and then 
### assigning assigning the result to the left operand

In [ ]:
x=96
x>>=1
x

In [ ]:
x=10
x>>=1
x

In [ ]:
x=4
x>>=1
x

In [ ]:
x=22
x>>=1
x

In [ ]:
x=10
x<<=1
x
### this is left shift operator
#this operator is used to perform bitwise left shift on the operands and then asssigning result to the left operand

In [ ]:
x=2
x<<=5
x

# Comparsion Operators

In [ ]:
# == operator
x=5
y=5.0
print(x==y)

In [ ]:
#  != operator
x=10
y=20
print(x!=y)

In [ ]:
# > operator
x=10
y=20
print(x>y)

In [ ]:
# < operator
x=10
y=20
print(x<y)

In [ ]:
# <= operator
x=10
y=15
print(x<=y)

In [ ]:
# >= operator
x=20
y=20
print(x>=y)

In [ ]:
x=4
y=10
print(x<y)

In [ ]:
x=4
y=2
print(x<=4 and y!=3)

In [ ]:
x=100
y=500
z=not(x<=200 or y>=1000)
print(z)

# Escape Character

In [ ]:
intro="hello world"
print(intro)

# double quote

In [ ]:
intro='hello world'
print(intro)

#single quote

In [ ]:
intro = "hello sir is this lisha"s bag?"
print(intro)


# this will throw an error if you use double quotes inside a string that is surrounded by double quotes

In [ ]:
intro="hello sir, is this Lisa\"s maams bag"

print(intro)


### the backslash \ helps to avoid this error, this is the escape character

In [ ]:
intro='hello sir, is this Lisa\'s maams bag'
print(intro)

### the backslash \ helps to avoid this error, this is the escape character

# New line

In [ ]:
prag="hey raj \n where are you going?"
print(prag)

#space after newline character

In [ ]:
prag="hey raj \nwhere are you going?"
print(prag)

#no space after newline character

In [ ]:
prag="hey raj \t where are you going?"
print(prag)

#tab space after tabspace character

In [ ]:
prag="hey raj \twhere are you going?"
print(prag)

# Format specifier

In [ ]:
#string- %s
#number - %d

In [ ]:
name="diggi"
print("hey %s how are you doing this morning?" %name)

In [ ]:
name= "diggi"
time = 6

print("hey %s, do you really wake up at %d AM everyday ??"% (name,time) )

In [ ]:
name= "diggi"
time = 6

print("hey %s, do you really wake up at %d AM everyday ??"% (time,name) )

###name should come before time

# Data types in Python

## List

In [ ]:
# */ List is an ordered sequence of items. It is the most used python data-type
#List items are ordered, changeable/mutable , and allow duplicate values
#It can store any type of data like int, float, string etc.
#Items of list are seperated by commas and are enclosed within [] brackets /*

In [118]:
L1=["krishna",108.3,2,5,"india"]
## list is hetrogenous - it allows multiple data types
L2=[1,2,3,4,5,6]
L3=[True, 2, False]

### using list() function to create a list
h= list((6,7))
### using type() function to print data type of the list
print(type(L1))
print(type(L2))
print(type(L3))


### using type function to find out the data type of specific item in list
### data type of element at index number 0 of list L3
print(type(L3[0]))

###data type of element at index number 2 of list L2
print(type(L2[2]))

TypeError: 'list' object is not callable

In [96]:
L1=["krishna",108.3,2,5,"india"]
## list is hetrogenous - it allows multiple data types
L2=[1,2,3,4,5,6]
L3=[True, 2, False]

### using list() function to create a list

L2[2]
### listname[Index number]
###this will print the element at 'index number' in list 'listname'

#type(L2[2])
### this will return the data type of the element in the list

3

In [97]:
list = [1,2,2,5,7.4,1-2j,"LOL"]
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])
print(list[6])
print(list[0])
print("this is a new list ", list)

2
2
5
7.4
(1-2j)
LOL
1
this is a new list  [1, 2, 2, 5, 7.4, (1-2j), 'LOL']

In [98]:
a=[1,3,'x','Raj']
L1=['Krishna',1.5,300,"India"]
L2=[True,2,False]


print("List L1",L1)

List L1 ['Krishna', 1.5, 300, 'India']

In [99]:
print(type(A))

<class 'list'>

In [100]:
print(type(A[0]))

<class 'int'>

In [101]:
print(type(L2))

<class 'list'>

In [102]:
print(type(L2[0]))

<class 'bool'>

In [103]:
L1[3]

'India'

In [104]:
L1[2]

300

In [105]:
L2[10]

IndexError: list index out of range

In [106]:
A[1]

7

In [107]:
A[0]

6

In [108]:
L=[1,2,3,4,2.3,2.5,8.6,1-2j,"Raja","King"]
L[5]

2.5

In [109]:
type(L[7])

complex

In [111]:
L[4]=10.2

In [112]:
L

[1, 2, 3, 4, 10.2, 2.5, 8.6, (1-2j), 'Raja', 'King']

In [113]:
L1=[1,3.5,1,1,1,1,1,"HI"]
L1[1]=1
L1

[1, 1, 1, 1, 1, 1, 1, 'HI']